---
const pageTitle = "About me"

const identity = {
  name: "Corrado Cionini",
  title: "Junior Fullstack Software Developer",
  company: "Zoonect"
}

const hobbies = ["Playing videogames", "Programming", "Learning"]
const skills = ["Javascript", "Typescript", "Elixir", "Phoenix"]
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>{pageTitle}</h1>
    <p>Hi, i'm {identity.name} a {identity.title} at {identity.company}</p>
    <p>My hobbies are:</p>
    <ul>
      {hobbies.map(hobby => <li>{hobby}</li>)}
    </ul>
    <p>My skills are:</p>
    <ol>
      {skills.map(skill => <li>{skill}</li>)}
    </ol>
  </body>
</html>
