---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About me"

const identity = {
  name: "Corrado Cionini",
  title: "Junior Fullstack Software Developer",
  company: "Zoonect"
}

const hobbies = ["Playing videogames", "Programming", "Learning"]
const skills = ["Javascript", "Typescript", "Elixir", "Phoenix"]

const skillColor = "navy"
const textTransform = "uppercase"
const fontWeight = "bold"
---
<style define:vars={{skillColor, fontWeight, textTransform}}>
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textTransform)
  }
</style>
<BaseLayout pageTitle={pageTitle}>
  <p>Hi, i'm {identity.name} a {identity.title} at {identity.company}</p>
  <p>My hobbies are:</p>
  <ul>
    {hobbies.map(hobby => <li>{hobby}</li>)}
  </ul>
  <p>My skills are:</p>
  <ol>
    {skills.map(skill => <li class="skill">{skill}</li>)}
  </ol>
</BaseLayout>